
body {
    font-family: cursive;
    background-color: #fff7ed; 
    color: #3f2a1d;
    font-size: 20px;
}
h1 {
    background-color: #fde68a;
    color: #78350f;
    text-align: center;
    font-size: 34px;
}

.menu {
    background-color: #fed7aa;
    text-align: center;
}

.menu a {
    color: #7c2d12;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: white;
    background-color: #c2410c;
}

.banner {
    text-align: center;
    background-color: #fff7ed;
}

.section {
    background-color: #ffffff;
}

.section h2 {
    color: #92400e;
    font-size: 25px;
}

.section li {
    color: #431407;
}

.footer {
    background-color: #78350f;
    color: #fff7ed;
    text-align: center;
    font-size: 15px;
}

ol li:hover {
    background-color: #78350f;
    color: yellow;
}


