
body {
    font-family: cursive;
    background-color: #fff7ed; 
    color: #3f2a1d;
    font-size: 18px;
}

/* ===== TIÊU ĐỀ ===== */
h1 {
    background-color: #fde68a;
    color: #78350f;
    text-align: center;
    font-size: 32px;
}

/* ===== MENU ===== */
.menu {
    background-color: #fed7aa;
    text-align: center;
}

.menu a {
    color: #7c2d12;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: white;
    background-color: #c2410c;
}

/* ===== BANNER ===== */
.banner {
    text-align: center;
    background-color: #fff7ed;
}

/* ===== SECTION ===== */
.section {
    background-color: #ffffff;
}

.section h2 {
    color: #92400e;
    font-size: 24px;
}

/* ===== LIST ===== */
.section li {
    color: #431407;
}

/* ===== FOOTER ===== */
.footer {
    background-color: #78350f;
    color: #fff7ed;
    text-align: center;
    font-size: 16px;
}

ol li:hover {
    background-color: #78350f;
    color: yellow;
}
